<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Juego de Maxiweb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body style="background-color: #121212; color: white; font-family: sans-serif; padding: 20px;">
    <div id="btn-menu" onclick="abrirMenu()">[ Menú ]</div>

    <div id="mi-menu" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="cerrarMenu()">&times;</a>
        {% if current_user.is_authenticated %}
            <a href="/mi-cuenta">Mi Cuenta</a>
        {% else %}
            <a href="/">Registro / Login</a>
        {% endif %}
        <a href="/foro">Foro público</a> 
        <a href="/juego">Juegos</a>
    </div>
    <h1>Juego: Adivina el número</h1>
    <p>Rango actual: de 1 a {{ rango }}</p>
    <p>Intentos: <strong>{{ intentos }} / {{ limite }}</strong></p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color: yellow; font-weight: bold;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <form method="POST">
        <input type="number" name="intento" placeholder="Tu número" required>
        <button type="submit">Adivinar</button>
    </form>

    <hr>
    <form method="POST">
        <select name="dificultad">
            <option value="facil">Fácil (1-10)</option>
            <option value="normal">Normal (1-20)</option>
            <option value="dificil">Difícil (1-50)</option>
        </select>
        <button type="submit">Cambiar dificultad</button>
    </form>

    
    <script>
    function abrirMenu() { document.getElementById("mi-menu").style.width = "250px"; }
    function cerrarMenu() { document.getElementById("mi-menu").style.width = "0"; }
</script>
</body>
</html>