<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
     <div id="btn-menu" onclick="abrirMenu()">[ Menú ]</div>

    <div id="mi-menu" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="cerrarMenu()">&times;</a>
    <a href="/">Registro / Perfil</a>
    <a href="/foro">Foro público</a> <a href="/juego">Juegos</a>
</div>
    <h1>Bienvenido, por favor regístrate</h1>
   <form action="/perfil" method="POST">
    <input type="text" name="nombre" value="{{ session.get('nombre', '') }}" placeholder="Nombre" required>
    <input type="text" name="apellido" value="{{ session.get('apellido', '') }}" placeholder="Apellido" required>
    <input type="text" name="ciudad" value="{{ session.get('ciudad', '') }}" placeholder="Ciudad" required>
    <input type="text" name="nacionalidad" value="{{ session.get('nacionalidad', '') }}" placeholder="Nacionalidad" required>

    <label>Género:</label>
    <select name="genero">
        <option value="hombre" {% if session.get('genero') == 'hombre' %}selected{% endif %}>Hombre</option>
        <option value="mujer" {% if session.get('genero') == 'mujer' %}selected{% endif %}>Mujer</option>
    </select>

    <label>Tu signo:</label>
    <select name="signo">
        {% for s in ['Aries', 'Tauro', 'Geminis', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Escorpio', 'Sagitario', 'Capricornio', 'Acuario', 'Piscis'] %}
            <option value="{{ s }}" {% if session.get('signo') == s %}selected{% endif %}>{{ s }}</option>
        {% endfor %}
    </select>

    <button type="submit">Actualizar / Guardar perfil</button>
</form>
<script>
    function abrirMenu() {
        document.getElementById("mi-menu").style.width = "250px";
    }

    function cerrarMenu() {
        document.getElementById("mi-menu").style.width = "0";
    }
</script>
</body>
</html>