<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acceso al Foro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div id="btn-menu" onclick="abrirMenu()">[ Menú ]</div>

    <div id="mi-menu" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="cerrarMenu()">&times;</a>
        <a href="/">Registro / Login</a>
        <a href="/foro">Foro público</a> 
        <a href="/juego">Juegos</a>
    </div>

    <h1>Bienvenido</h1>
    
    <div style="margin-bottom: 20px;">
        <button onclick="mostrarForm('registro')">Registrarse (Nuevo usuario)</button>
        <button onclick="mostrarForm('login')">Ya tengo cuenta (Login)</button>
    </div>

    <form id="form-registro" action="/perfil" method="POST" style="display:none;">
        <h3>Crear nueva cuenta</h3>
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="apellido" placeholder="Apellido" required>
        <input type="text" name="ciudad" placeholder="Ciudad" required>
        <input type="text" name="nacionalidad" placeholder="Nacionalidad" required>
        
        <label>Género:</label>
        <select name="genero">
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
        </select>

        <label>Tu signo:</label>
        <select name="signo">
            {% for s in ['Aries', 'Tauro', 'Geminis', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Escorpio', 'Sagitario', 'Capricornio', 'Acuario', 'Piscis'] %}
                <option value="{{ s }}">{{ s }}</option>
            {% endfor %}
        </select>
        
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Registrarse</button>
    </form>

    <form id="form-login" action="/login" method="POST" style="display:none;">
        <h3>Iniciar Sesión</h3>
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Entrar</button>
    </form>

    <script>
        function abrirMenu() { document.getElementById("mi-menu").style.width = "250px"; }
        function cerrarMenu() { document.getElementById("mi-menu").style.width = "0"; }
        
        function mostrarForm(tipo) {
            document.getElementById('form-registro').style.display = (tipo === 'registro') ? 'block' : 'none';
            document.getElementById('form-login').style.display = (tipo === 'login') ? 'block' : 'none';
        }
    </script>
</body>
</html>