<!DOCTYPE html>
<html>
<head>
    <title>Recuperar Contraseña</title>
</head>
<body>
    <h2>Recuperar Contraseña</h2>
    
    <form method="POST">
        <label>Nombre de usuario:</label>
        <input type="text" name="username" required>
        <button type="submit" name="buscar_usuario">Buscar usuario</button>
    </form>

    <hr>

    {% if pregunta %}
    <form method="POST">
        <p>Tu pregunta de seguridad es: <strong>{{ pregunta }}</strong></p>
        
        <label>Respuesta:</label>
        <input type="text" name="respuesta" required><br>
        
        <label>Nueva Contraseña:</label>
        <input type="password" name="new_password" required><br>
        
        <button type="submit" name="verificar_y_cambiar">Actualizar Contraseña</button>
    </form>
    {% endif %}

    <br>
    <a href="{{ url_for('login_ruta') }}">Volver al Login</a>
</body>
</html>