<!DOCTYPE html>
<html>
<body>
    <h2>Recuperar Contraseña</h2>
    <form method="POST">
        <label>Nombre de usuario:</label>
        <input type="text" name="username" required><br>
        
        <button type="submit" name="buscar_usuario">Buscar usuario</button>
        
        {% if pregunta %}
            <p>Tu pregunta es: {{ pregunta }}</p>
            <label>Respuesta:</label>
            <input type="text" name="respuesta" required>
            <label>Nueva Contraseña:</label>
            <input type="password" name="new_password" required>
            <button type="submit" name="verificar_y_cambiar">Cambiar Contraseña</button>
        {% endif %}
    </form>
    <a href="{{ url_for('login_ruta') }}">Volver al Login</a>
</body>
</html>